<h1 class="mt-4">Service Register</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrum-item active">Register the service provided to the customer</li>
</ol>
<div class="container">
    <form>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>Service Description: *</label>
                <input type="text" class="form-control">
                </div>
            </div>
            
            <div class="col-md-4">
                <div class="form-group">
                    <label>Service Value: *</label>
                    <input type="number" class="form-control">
                </div>

            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <label>Service Date: *</label>
                    <input type="text" class="form-control">
                </div>
        
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <label>Customer ID: *</label>
                <input type="number" class="form-control">
                </div>
            </div>

            <div>
                <div class="col-md-2">
                    <button type="submit" class="btn btn-success">Save</button>
                    <i class="fa fa-save"></i>
                </div>
            </div>
        </div>
    </form>
</div>